#exaple env file
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN="mapbox token"
NEXT_PUBLIC_BACKEND_URL="http://{HOST}:{PORT}"

# Urls that will make the page display PDF instead of Image in Image2Map
NEXT_PUBLIC_PDF_URLS=example1.com,example2.com