###### Requirements without Version Specifiers ######
fastapi
uvicorn[standard]
rasterio
python-multipart
pdf2image
setuptools
rio-tiler
python-dotenv
poppler-utils

###### Requirements with Version Specifiers ######